.bubble {
  position: absolute;
  bottom: -20px;
  right: -380px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px 10px;
  visibility: hidden;
  z-index: 1;
  font-size: small;
}

.add-icon {
  cursor: pointer;
  margin-left: 5px;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #f0f0f0;
  text-align: center;
  line-height: 24px;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease-in-out;
}

.add-icon:hover {
  color: #007bff;
}

.item-title {
  margin: 0 20px;
  font-weight: 600;
  font-size: 18px;
  transition: color 0.3s ease-in-out;
}

.item-title:hover {
  color: #007bff;
}

.navbar-brand {
  padding-left: 10%;
  max-width: 110px;
  max-height: 80px;
  position: relative;
}

.navbar-brand img {
  max-width: 110px;
  max-height: 80px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: border-color 0.3s ease-in-out;
}

.container {
  float: left;
}

.belowContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}

.navbarDataMap {
  position: relative;
  display: flex;
  align-items: center;
}

.showPadding {
  padding-left: 10%;
}

.showPadding.wide {
  padding-left: 20%;
}

.classHandleSave {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-right: 30px;
  transition: color 0.3s ease-in-out;
}

.classHandleSave i {
  font-size: 22px;
  margin-right: 10px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.classHandleSave i:hover {
  color: #007bff;
}
.save-instruction {
  background-color: red;
  color: white;
  height: 20px;
  text-align: center;
  line-height: 20px;
}

