.sidebar {
  position: fixed;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100%;
  background-color: white;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease-in-out;
  padding: 10px;
}

.sidebar.active {
  right: 0;
}

.sidebarHeader {
  font-weight: 600;
  font-size: 24px;
  background-color: #f8f9fa;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebarImageAll {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.img-container {
  position: relative;
  width: calc(90% - 20px);
  height: auto;
  display: block;
  margin-bottom: 10px;
  border: 1px solid transparent;
  transition: border-color 0.3s ease-in-out;
}

.img-container:hover {
  border-color: #007bff;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.208);
}

.img-container.enlarged {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  border: 1px solid transparent;
  box-shadow: 0 0 50px rgba(0, 123, 255, 0.185);
  cursor: zoom-out;
}

.img-container.enlarged:hover {
  border: 1px solid #007bff;
  box-shadow: 0 0 50px rgba(0, 123, 255, 0.098);
}

.image-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.5);

} 

.img-container:hover .image-overlay {
  opacity: 1;
}

.image-overlay i {
  font-size: 24px;
  color: white;
  padding: 10px;
  cursor: pointer;
  margin: 0 5px;
}

.img-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.img-container.enlarged .image-overlay {
  display: none;
}

